.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff; /* Couleur du texte */
  background-color: #0a080859; /* Couleur de fond */
  border-radius: 5px;
  
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}
  nav {
      background-color: #000000f8;
      color: rgb(220, 220, 228);
      padding: 0rem ;
      margin-left: 1vw;
      width: 95vw;
      margin-right: 1vw;
      margin-top: -1rem;
      
      font-weight: bold;
       /* display: flex;  */
      justify-content: space-between;
      /* align-items: center; */
      /*  filter:blur(2); */
    
  }
    .infos{
        display: flex;
        position: relative;
        padding-left: 20vw;
        margin-bottom: 0rem;
        margin-top: -25vh;
    }
    .description ul{
      list-style-type: none;
      
     }

    .infos ul {
        list-style: none;
        display: flex;
        
        margin-top: 5rem;
        margin-left: 10rem;
        padding: 0;
    }
    .infos ul li {
        padding-left: 5vw;
        justify-content: space-between;

    }
      .infos ul li a {
        color: #ccd1db;
        text-decoration: none;
        font-weight: bold;
        padding: 0rem 0rem;
        
        border-radius: 5px;
        font-size: 20px;
        transition: background-color 0.3s;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .infos ul li a:hover {
        background-color: #010604;
        text-decoration: underline overline white;;
        color: #3036e7;
        /* color: #2257b2; */
    }
   section {
    border: 2px solid black;
    padding: 5% 5%;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    filter: blur(2);
    
   }
   #language-selector {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

#language-selector label {
    font-size: 14px;
    color: #333333;
    margin-right: 0.5em;
}

#language-selector select {
    padding-left: -10vw;
    padding-top: 2%;
    justify-content: center;
    font-size: 16px;
    color: #333;
    width: 7vw;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Ajout d'effets pour survol et focus */
#language-selector select:hover {
    background-color: #233780;
    color: rgba(255, 255, 255, 0.352);
}

#language-selector select:focus {
    border-color: #007acc;
    background-color: #ffffff;
    color: #010604;
}

    .coord{

      display: flex;
      position: relative;
      padding-left: 2vw;
      margin-bottom: 0rem;
      margin-top: 0vh;
      margin-left: 2vw;
    
}
.coord ul li  {
    list-style: none;
    padding:0rem 1.3rem;
    font-size: 20px;
  
    
}

.btn{
  margin: 2%;
  margin-left: 2%;
  width: 20%;
  
  background-color: rgb(204, 193, 193);
  border-radius: 5%;

}

.container {
    display: flex;
    justify-content: space-between;
}
.box {
    width: 45%;
}
   /* #sami{
    border: 15px solid #809ed5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
   } */

   #about-me h1 {
    font-size: 35px;
    text-align: center;
    color: #2257b2;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  
  #about-me p {
    font-size: 23px;
    margin-left: 2rem;
    color: rgb(23, 29, 22);
    margin-top: 0.2cm;
  }

  /* #video */
  .background-video {
    position: fixed; /* Utilisez fixed pour que la vidéo reste en place */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 15%;
    filter:blur(2)
    
    
}
#skill h1{
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1.5rem;
    padding-left: 2rem;
    color: #2257b2;
    margin-bottom: 0;
   
    text-decoration: underline;
    
}

/* Skills */

.all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 0;
    
}
  .skill {
    border: 1px solid rgb(23, 4, 4);
    display: block;
    border-radius: 6px;
    text-align: center;
    
    margin-bottom: 1rem;
   
    /* margin-left: 2rem; */
    padding: 10px;
    width: 2in;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 20px;
    box-shadow: 0 3px 10px rgba(58, 140, 156, 0.556);
    background-color: #858b8f33;
  }
  .skill:hover{
    background-color: #306dae;
    color: white;
  }
  
  .skill img {
    height: 35px;
    align-items: center;
  }
  
  /* .skills h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 

  .skill h3 {
    align-items: center;
    font-size: 30px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  .skills p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
  } 
   */
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* project */
.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}
.projects-container ul li{
  margin-top: 2%;
justify-content: space-between;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}
.project-card ul li{
  margin-top: 2%;
  margin-bottom: 2%;
  
  justify-content: space-between;
}
.project-card ul {
  margin-top: 2%;
  margin-bottom: 5%;
  
  justify-content: space-between;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}
.projects h2{
  font-size: 36px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 1.5rem;
  padding-left: 2rem;
  color: #2257b2;
  margin-bottom: 0;
 
  text-decoration: underline;
}


/* footer design */

#footer {
  background-color: hsla(0, 0%, 0%, 0.996);
  color: #f3ebeb; /* Adjust color as needed */
  text-align: center;
  padding: 20px 0;
  position: relative; /* Allows footer to be positioned correctly */
  bottom: 0; /* Sticks to the bottom */
  width: 100%; /* Full width */
}

.footer-content {
  max-width: 1200px; /* Limit max width */
  margin: auto; /* Center content */
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content ul li {
  display: inline; /* Display items in a line */
  margin: 0 15px; /* Space between links */
}

.footer-content ul li a {
  text-decoration: none;
  color: inherit; /* Use the inherited color */
  transition: color 0.3s; /* Smooth color transition */
}

.footer-content ul li a:hover {
  color: #007BFF; /* Change color on hover */
}

.popup {
  width:80%;
  height: 80%;
  background-color: #1313134a;
  border-radius: 3mm;
  top: 50%;
  left:50%;
   flex-direction: row;
  
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  transition: visibility 0.1s ease;
  visibility: hidden;
  
  
}
.cert{
  width:80%;
  height: 90%;
  background-color: #1313134a;
  border-radius: 3mm;
  top: 50%;
  left:50%;
   flex-direction: row;
  
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  transition: visibility 0.1s ease;
  visibility: hidden;
  
  
}
.skill p{
    visibility: hidden;
  }
  .skill ul{
    visibility: hidden;
    padding-left: 0;
    
    list-style-type: none;
  }
  .skill ul ,li{
    margin-bottom: 12%;
   
  }
 
.description ul{
  margin-top: 3%;
}

figure {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 0%;
 
  width: 25%; /* Ajuste la largeur à celle du conteneur parent */
  max-width: 600px; /* Limite la taille maximale de l'image */
}

/* Style de l'image */
figure img {
  display: block;
  width: 40%;
  margin-left: 0%;
  height: auto;
}

/* Style de la légende (figcaption) */
figcaption {
  position: absolute;
  top: 105%; /* Positionnement en haut de l'image */
  left: 30%;
  margin-left: -10%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 80%; /* Largeur pour s'adapter à l'image */
  text-align: center;
}
.images{

  width: 90%;
}
 
   /* smartphone */
   @media only screen and (max-width: 700px) {
    nav {
      background-color: #3366FF;
      color: #424040;
      
      margin-left: 2%;
      width: 155vw;
      margin-right: 2%;
      margin-top: 0vh;
      
      font-weight: bold;
       /* display: flex;  */
      justify-content: space-between;
      /* align-items: center; */
      /*  filter:blur(2); */
    
  }
/* coordonéée */

.coord {
  display: block;
  /* margin-inline-end: 0; */
  text-align: center;
  padding-left: 0vw;
  margin-left: 2vw;
  margin-right: 2vw;
}


    /* .coord{
      display:flex;
      margin-inline-end: 150%;
      padding-top: 5%;
  } */
   .coord ul{
    margin-left: 15vw;
    margin-right: 5vw;
    padding-left: 15vw;
  padding-top: 2vh;
   }
  .coord ul li  {
      list-style: none;
      padding:0rem 1rem;
      padding-right: 20%;
     
      font-size: 20px;
    
      
  }
/* information */
.infos {
  padding-left: 3vw; 
  margin-bottom: 1vw;
  margin-left: -18vw;
  margin-right: 0vw;
  
  flex-direction: column;
  align-items: center;
}




.infos ul li a {
  color: #a1b4ba;
  text-shadow: rgb(0, 0, 0);
  filter: brightness(2);
  border: 1px solid black;
  text-decoration: none;
  font-weight: bold;
  padding: 0rem 0rem;
  padding-top: 0%;
  
  
  border-radius: 2px;
  font-size: 17px;
  transition: background-color 0.3s;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.infos ul {
  list-style: none;
  display: flex;
 
  margin-top: 25vh;
  margin-inline-start: 5vw;

}

 .infos ul li {
    margin-left: 5vw;
    padding-top: 2%;
    justify-content: space-between;
    padding-left: 0vw;
   
    
}
  
.infos ul li a:hover {
  background-color: #020801;
  text-decoration: underline;
  color: #fffdfd;
  /* color: #2257b2; */
}


  

  .all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 2rem;
    
}
.skill h3 {
  align-items: center;
  font-size: 20px;
  background-color: #3366FF;
  color: #ccd1db;
  font-weight: bold;
  margin-top: -2vh;
} 


.skill {
  border: 2px solid rgb(23, 4, 4);
  display: block;
  border-radius: 6px;
  text-align: center;
  
  margin-bottom: 1rem;
 
  padding: 3rem;
  width: 4in;
  margin-left: 10rem;
  font-size: 16px;
  box-shadow: 0 3px 10px rgba(58, 140, 156, 0.556);
  background-color: #858b8f33;
}
.skill:hover{
  background-color: #2156be;
  
 
  

}
.popup {
  width:110vw;
  height: 70vh;
  background-color: #131313dd;
  border-radius: 3mm;
  top: 50%;
  left:50%;
   flex-direction: row;
  
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  transition: visibility 0.1s ease;
  visibility: hidden;
  
  
}
.description{

  border: 2px solid black;
  background-color: rgba(234, 237, 242, 0.663);
  width: 80%;
  height: 80%;
  
  margin-top: -1vh;

  
  margin-left: 10%;
  margin-right: 5%;
  opacity: 90%;
  
}
.description h3{
  font-size: 33px;
  color: #999393;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

  body{
   background-color:rgb(255, 255, 255) ;
   
  }
    section  {
      border: 2px solid rgb(10, 15, 91);
      padding: 5px 6px;
        background-color: #d1e98214;
      
       margin-left: 2%;
      filter: blur(2);
      width: 158%;
    }


 
.box img{
  margin-left: 0%;
  padding-top: 2%;
}



    
    
  
    .container {
        flex-direction: column;
        align-items: center;
        
    }
  
    .skill {
        width: 50%;
        height: 0;
        margin-left: 20%;
        font-size: 16px;
    }
    
    #skill h1{
      font-size: 24px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 1.5rem;
      padding-left: 2rem;
      color: #307450;
      margin-bottom: 0;
     
      text-decoration: underline;
      
  }
  .skill p{
    visibility: hidden;
  }
  .skill ul{
    visibility: hidden;
    padding-left: 0;
    
    list-style-type: none;
  }
  .skill ul ,li{
    margin-bottom: 0%;
    margin-left: -5%;
   
  }
 

    #about-me h1 {
      font-size: 20px;
      display: block;
      
      text-align: center;
      color: #105d2f;
     
      padding-left: 45%;
      margin-bottom: 1rem;
      margin-top: -60%;
    }
    
    #about-me p {
      font-size: 18px;
      font-weight: bold;
      margin-left: 2rem;
      color: rgb(23, 29, 22);
      margin-top: 0%;
      padding-bottom: 10%;
      padding-left: 45%;
    }
    .box img{
      
      width:80%;
      margin-top: 25%;
      margin-bottom: 25%;
      margin-left: 0%;
      padding: 0%;
      border-radius: 5%;
    }
    .box{
     margin-left: -40%;
    }

    .background-video {
      position: fixed; /* Utilisez fixed pour que la vidéo reste en place */
      top: 50%;
      left: 40%;
      min-width: 30%;
      min-height: 30%;
      width: 300%;
      height: 100%;
      z-index: -7;
      transform: translate(-50%, -50%);
      opacity: 0%;
      visibility: hidden;
      background-color: #ffffff;
      filter:blur(0); 
      
  }
  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  .container {
    display: flex;
    justify-content: space-between;
}
  
  .projects-container hr {
    border: 1px solid lightgray;
    width: 55%;
    margin-left: 5cm;
  }
  
  .project-card {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
  }
  
  .project-card h3 {
    font-size: 20px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 20px;
    margin-left: 30px;
  }
  .projects h2{
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1.5rem;
    padding-left: 2rem;
    color:#307450;
    margin-bottom: 0;
   
    text-decoration: underline;
  }
  #footer {
    background-color: #3366FF;
    color: #f3ebeb; /* Adjust color as needed */
    text-align: center;
    padding: 20px 0;
    position: relative; /* Allows footer to be positioned correctly */
    bottom: 0; /* Sticks to the bottom */
    width: 169%; /* Full width */
    margin-left: 0%;
  
  }
  
  .footer-content {
    max-width: 1200px; /* Limit max width */
    margin: auto; /* Center content */
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content ul li {
    display: inline; /* Display items in a line */
    margin: 0 15px; /* Space between links */
  }
  
  .footer-content ul li a {
    text-decoration: none;
    color: inherit; /* Use the inherited color */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .footer-content ul li a:hover {
    color: #007BFF; /* Change color on hover */
  }
  

  figure {
    position: relative;
    display: inline-block;
   margin-left: 5%;
    margin-top: 1vh;
   
    width: 25%; /* Ajuste la largeur à celle du conteneur parent */
    max-width: 600px; /* Limite la taille maximale de l'image */
  }
 .description ul{
  list-style-type: none;
  margin-left: -13%;
  margin-top: -5vh;
 }

  /* Style de l'image */
  figure img {
    display: block;
    width: 18vw;
   
    height: auto;
    margin-top: 4vh;
  }

  /* Style de la légende (figcaption) */
  figcaption {
    position: absolute;
    top: 105%; /* Positionnement en haut de l'image */
    /* left: 50%; */
    margin-left:3vw;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 80%; /* Largeur pour s'adapter à l'image */
    text-align: center;
  }

  #language-selector {
    display: flex;
    align-items: center;
    margin-right: -2em;
}

#language-selector label {
    font-size: 12px;
    color: #333333;
    margin-right: 0;
}

#language-selector select {
    padding: 4.1%;
    padding-top: 0%;
    margin-left: -3vw;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    color: #efefee;
    background-color: #235b66fb;
    border: 1px solid #5994b8;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Ajout d'effets pour survol et focus */
#language-selector select:hover {
    background-color: #177d30;
    color: rgba(255, 255, 255, 0.352);
}

#language-selector select:focus {
    border-color: #007acc;
    background-color: #ffffff;
    color: #010604;
}


.cert{
  width:75%;
  height: 40%;
  
  background-color: #1313134a;
  border-radius: 3mm;
  top: 50%;
  left:50%;
   flex-direction: row;
  
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  transition: visibility 0.1s ease;
  visibility: hidden;
  
  
}
.cert img{
  width: 120%;
  margin-top: 10%;
}
.btn{
  margin: 1vw;
  margin-left: 6vw;
  
 
  background-color: rgb(204, 193, 193);
  border-radius: 5%;

}


  }
  @media only screen and (min-width: 701px) and (max-width: 1024px) {
    nav {
      background-color: #3366FF;
      color: rgb(220, 220, 228);
      
      margin-left: 2%;
      width: 155vw;
      margin-right: 2%;
      margin-top: 0vh;
      
      font-weight: bold;
       /* display: flex;  */
      justify-content: space-between;
      /* align-items: center; */
      /*  filter:blur(2); */
    
  }
  .all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 2rem;
    
}
.skill h3 {
  align-items: center;
  font-size: 24px;
  background-color: #3366FF;
  color: #ccd1db;
  font-weight: bold;
  margin-top: 0;
} 


.skill {
  border: 2px solid rgb(23, 4, 4);
  display: block;
  border-radius: 6px;
  text-align: center;
  
  margin-bottom: 1rem;
 
  padding: 3rem;
  width: 4in;
  margin-left: 10rem;
  font-size: 16px;
  box-shadow: 0 3px 10px rgba(58, 140, 156, 0.556);
  background-color: #858b8f33;
}
.skill:hover{
  background-color: #2156be;
  
 
  

}
.popup {
  width:70vw;
  height: 70vw;
  background-color: #1313134a;
  border-radius: 3mm;
  top: 50%;
  left:50%;
  flex-direction: row;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  transition: visibility 0.1s ease;
  visibility: hidden;
  
  
}
.description{

  border: 2px solid black;
  background-color: rgba(234, 237, 242, 0.663);
  width: 80%;
  height: 80%;
  margin: 0%;
  
  margin-left: 10%;
  margin-right: 5%;
  opacity: 90%;
  
}
.description h3{
  font-size: 36px;
  color: #999393;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

    .coord{
      display:flex;
      margin-inline-end: 150%;
      padding-top: 5%;
  }
  .coord ul li  {
      list-style: none;
      padding:0rem 1rem;
      padding-right: 20%;
      margin: 0;
      font-size: 30px;
    
      
  }
  body{
   background-color:rgb(255, 255, 255) ;
   
  }
    section  {
      border: 2px solid black;
      padding: 5px 6px;
        
       margin-left: 2%;
      filter: blur(2);
      width: 158%;
    }

    .infos {
      padding-left: 3vw; 
      margin-bottom: 1vw;
      margin-left: 0vw;
      margin-right: 10vw;
      flex-direction: column;
      align-items: center;
    }
    
    .infos ul {
      list-style: none;
      display: flex;
      
      margin-top: 25vh;
      margin-inline-start: 25vw;
    
    }
    
     .infos ul li {
        margin-left: 5vw;
       
        justify-content: space-between;
        padding-left: 0vw;
       
        
    }
      
    .infos ul li a:hover {
      background-color: #020801;
      text-decoration: underline;
      color: #fffdfd;
      /* color: #2257b2; */
    }
    
.box img{
  margin-left: 0%;
  padding-top: 2%;
}




.description ul{
  list-style-type: none;
  margin-left: -13%;
  margin-top: -2%;
 }

  /* Style de l'image */
  figure img {
    display: block;
    width: 80%;
    margin-left: 15%;
    height: auto;
    margin-top: 2%;
  }

  /* Style de la légende (figcaption) */
  figcaption {
    position: absolute;
    top: 105%; /* Positionnement en haut de l'image */
    left: 50%;
    margin-left:5%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 75%; /* Largeur pour s'adapter à l'image */
    text-align: center;
  }

  #language-selector {
    display: flex;
    align-items: center;
    margin-right: -2em;
}

#language-selector label {
    font-size: 14px;
    color: #333333;
    margin-right: 0.5em;
}

#language-selector select {
    padding: 8px;
    padding-top: 2%;
    margin-left: -5%;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Ajout d'effets pour survol et focus */
#language-selector select:hover {
    background-color: #233780;
    color: rgba(255, 255, 255, 0.352);
}

#language-selector select:focus {
    border-color: #007acc;
    background-color: #ffffff;
    color: #010604;
}


.cert{
  width:75%;
  height: 80%;
  
  background-color: #1313134a;
  border-radius: 3mm;
  top: 50%;
  left:50%;
   flex-direction: row;
  
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  transition: visibility 0.1s ease;
  visibility: hidden;
  
  
}
.cert img{
  width: 120%;
  margin-top: 10%;
}
.btn{
  margin: 2%;
  margin-left: 7%;
  width: 20%;
 
  background-color: rgb(204, 193, 193);
  border-radius: 5%;

}


.infos ul li a{
  font-size: 26px;
  margin-right:0%;
}
  
    .coord {
        display: block;
        margin-inline-end: 0;
        text-align: center;
        padding-left: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
  
    .infos {
        padding-left: 2rem;
        margin-bottom: 1rem;
        margin-left: -25%;
        margin-right: 5%;
        flex-direction: column;
        align-items: center;
    }
  
    .container {
        flex-direction: column;
        align-items: center;
        
    }
  
    .skill {
        width: 40%;
        height: 0;
        margin-left: 20%;
        font-size: 24px;
    }
    
    #skill h1{
      font-size: 24px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 1.5rem;
      padding-left: 2rem;
      color: #2257b2;
      margin-bottom: 0;
     
      text-decoration: underline;
      
  }
  .skill p{
    visibility: hidden;
  }
  .skill ul{
    visibility: hidden;
    padding-left: 0;
    
    list-style-type: none;
  }
  .skill ul ,li{
    margin-bottom: 12%;
   
  }
 

    #about-me h1 {
      font-size: 30px;
      display: block;
      
      text-align: center;
      color: #2257b2;
     
      padding-left: 0%;
      margin-bottom: 1rem;
      margin-top: -25%;
    }
    
    #about-me p {
      font-size: 26px;
      font-weight: bold;
      margin-left: 0rem;
      color: rgb(23, 29, 22);
      margin-top: 0%;
      padding-bottom: 10%;
      padding-left: 25%;
      padding-right: 15%;
    }
    .box img{
      
      width:40%;
      height: 20%;
      margin-top: 6%;
      margin-bottom: 0%;
      margin-left: -15%;
      padding: 0%;
      border-radius: 5%;
    }
    .box{
     margin-left: -40%;
    }

    .background-video {
      position: fixed; /* Utilisez fixed pour que la vidéo reste en place */
      top: 50%;
      left: 40%;
      min-width: 30%;
      min-height: 30%;
      width: 300%;
      height: 100%;
      z-index: -7;
      transform: translate(-50%, -50%);
      opacity: 0%;
      background-color: #ffffff;
      filter:blur(0); 
      
  }
  .projects-container {
    margin-top: 0%;
    margin-left: 60px;
  }

  
  .container {
    display: flex;
    justify-content: space-between;
}
  
  .projects-container hr {
    border: 1px solid lightgray;
    width: 55%;
    margin-left: 5cm;
    margin-bottom: 0%;
    margin-top: -5%;
  }
  
  .project-card {
   margin: 0;
  }
  
  .project-card h3 {
    font-size: 20px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 20px;
    margin-left: 30px;
  }
  .projects h2{
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1.5rem;
    padding-left: 2rem;
    color: #2257b2;
    margin-bottom: 0;
   
    text-decoration: underline;
  }
  #footer {
    background-color: #3366FF;
    color: #f3ebeb; /* Adjust color as needed */
    text-align: center;
    padding: 20px 0;
    position: relative; /* Allows footer to be positioned correctly */
    bottom: 0; /* Sticks to the bottom */
    width: 160%; /* Full width */
    margin-left: 2%;
    margin-right: -5%;
  
  }
  
  .footer-content {
    max-width: 1200px; /* Limit max width */
    margin: auto; /* Center content */
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content ul li {
    display: inline; /* Display items in a line */
    margin: 0 15px; /* Space between links */
  }
  
  .footer-content ul li a {
    text-decoration: none;
    color: inherit; /* Use the inherited color */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .footer-content ul li a:hover {
    color: #007BFF; /* Change color on hover */
  }
  

  
  
  }
    